body {
  font-family: "Arial";
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.view-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.canvasArea {
  position: relative;
  margin: 0 auto;
  margin-bottom: 40px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
  margin-left: 20px;
  margin-right: 20px;
}

canvas {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
}

#canvas1 {
  z-index: 1;
  animation: fadein 2s;
  -moz-animation: fadein 2s; /* Firefox */
  -webkit-animation: fadein 2s; /* Safari and Chrome */
  /* box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px; */
}
#canvas2 {
  z-index: 2;
  animation: fadein 2s;
  -moz-animation: fadein 2s; /* Firefox */
  -webkit-animation: fadein 2s; /* Safari and Chrome */
  /* box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px; */
}
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-moz-keyframes fadein {
  /* Firefox */
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes fadein {
  /* Safari and Chrome */
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.buttonArea {
  display: flex;
  margin: 0 auto;
  flex-direction: row;
}

.result-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0 auto;
}

/* 모달창 내부 X버튼 */
.close {
  position: absolute;
  right: 10px;
  top: 10px;
}

.ModalOpen {
  opacity: 1;
  animation: FadeIn 2s ease-in;
}
.ModalClose {
  opacity: 0;
  pointer-events: none;
  animation: FadeOut 1.5s ease-out;
}

@keyframes FadeIn {
  0% {
    opacity: 0;
  }
  1% {
    opacity: 0;
    transform: translateY(100%);
  }
  100% {
    opacity: 1;
  }
}

@keyframes FadeOut {
  0% {
    opacity: 1;
  }
  1% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.Modal {
  width: 200px;
  font-size: 12px;
  position: fixed;
  z-index: 999;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
  border-radius: 0.2rem;
  /* padding: px; */
  text-align: center;
  box-sizing: border-box;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 25%;
  max-height: 60px;
  transition: all 5s ease-out;
  background-color: rgba(255, 0, 0, 0.6);
  color: #fff;
}

div.imageUploader {
  /* margin: 0 auto; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  width: 50%;
  margin: 0 auto;
}

.upload-image-button {
  padding: 6px 23px;
  background: #3f4257;
  border-radius: 30px;
  color: white;
  font-weight: 300;
  font-size: 14px;
  margin: 10px 0;
  transition: all 0.2s ease-in;
  cursor: pointer;
  outline: none;
  border: none;
}

.index-button {
  /* padding: 16px; */
  display: block;
  width: 48px;
  height: 48px;
  /* background: #3f4257; */
  background-color: #fff;
  border-radius: 50%;
  color: white;
  margin: 10px;
  transition: all 0.2s ease-in;
  cursor: pointer;
  outline: none;
  border: none;
}

.index-button:hover {
  cursor: pointer;
  -webkit-animation: swing 1s ease;
  animation: swing 1s ease;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}

@-webkit-keyframes swing {
  15% {
    -webkit-transform: translateY(5px);
    transform: translateY(5px);
  }
  30% {
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px);
  }
  50% {
    -webkit-transform: translateY(3px);
    transform: translateY(3px);
  }
  65% {
    -webkit-transform: translateY(-3px);
    transform: translateY(-3px);
  }
  80% {
    -webkit-transform: translateY(2px);
    transform: translateY(2px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
@keyframes swing {
  15% {
    -webkit-transform: translateY(5px);
    transform: translateY(5px);
  }
  30% {
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px);
  }
  50% {
    -webkit-transform: translateY(3px);
    transform: translateY(3px);
  }
  65% {
    -webkit-transform: translateY(-3px);
    transform: translateY(-3px);
  }
  80% {
    -webkit-transform: translateY(2px);
    transform: translateY(2px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
